$font-family1: 'Poppins', sans-serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$color1: white;
$color2: #ff3368;
$color3: dimgrey;
$color4: #ecfdff;
$color5: #f8fbff;
$color6: teal;
$color7: rgb(1, 97, 97);
$color8: red;